Source: libacme-brainfuck-perl
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 3.0.5), perl (>= 5.6.0-17)
Maintainer: Jaldhar H. Vyas <jaldhar@debian.org>
Standards-Version: 3.5.6

Package: libacme-brainfuck-perl
Architecture: all
Depends: ${perl:Depends}
Description:  Embed Brainfuck in your perl code
 Brainfuck is about the tiniest Turing-complete programming language you
 can get.  A language is Turing-complete if it can model the operations
 of a Turing machine--an abstract model of a computer defined by the
 British mathematician Alan Turing in 1936.  A Turing machine consists
 only of an endless sequence of memory cells and a pointer to one par-
 ticular memory cell.  Yet it is theoretically capable of performing any
 computation.  This module will allow you to mix Brainfuck with your
 perl code.
